
/***********************************************************
GLOBAL STYLES
***********************************************************/
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
	font-family: "Inria Sans", sans-serif;
	background-color: black;
	color: white;
}

body {
    margin: 0;
}

/***********************************************************
START PAGE
***********************************************************/

.start-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 100vh;
}

h1 {
	color: orange;
	margin-bottom: 3rem;
}

h1 span {
	color: white;
}

.page-btn {
	border: none;
	border-radius: 20px;
	color: white;
	font-size: 1.5rem;
	padding: 20px;
	width: 160px;
    cursor: pointer;
}

.page-btn:hover {
	background-color: orange;
	color: black;
}

/***********************************************************
QUIZ PAGE
***********************************************************/
.quiz-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/***********************************************************
QUIZ HEADER
***********************************************************/

.quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 0 3rem;
    margin-top: 1.5rem;
}

#user-score {
    /* color: orange; */
}

#quiz-title {
    text-decoration: underline;
    text-decoration-color: orange;
}

/***********************************************************
PROGRESS CONTAINER
***********************************************************/
.progress-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 4rem;
}

.progress-container button {
    font-family: "Inria Sans", sans-serif;
    border: none;
    font-size: 1rem;
    /* border-bottom: 1px solid darkgrey; */
    box-shadow: 1px 1px 5px rgba(133, 133, 133, 0.5);
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    border-radius: 10px;
}

/***********************************************************
QUESTION CONTAINER
***********************************************************/

.question-container {
    /* border: 1px solid darkgray; */
    width: 80%;
    min-height: 20rem;
    margin-top: 2rem;
    padding: 0 3rem;
}

.bracket {
    font-size: 2rem;
    margin: 0;
    color: orange;
    text-align: left;
}

#closing-bracket {
    text-align: end;
}

h2 {
    margin: 1rem 0;
}

.question-info {
    margin: 0 4rem 0 3rem;
}

#options-list {
    padding: 0;
}

.options-list li {
    list-style-type: none;
    padding: 0.5rem 1rem;
    margin-top: 0.3rem;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgba(105,105,105,0.0);
    
}

.options-list li:hover {
    border: 1px solid rgba(105,105,105,0.5);

}

.options-list .correct, .options-list .correct:hover {
    border: 1px solid rgba(0,255,0,1);
    color: rgba(0,255,0,1);
}

.options-list .incorrect, .options-list .incorrect:hover  {
    border: 1px solid rgba(105,105,105,1);
    color: rgba(105,105,105,1);
}

/***********************************************************
FINISH PAGE
***********************************************************/
.finish-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    text-align: center;
}

#finish-message {
    font-size: 5rem;
    margin: 2rem 0;
}

#finish-score {
    font-size: 3rem;
    margin: 2rem 0;
}

/***********************************************************
OTHER
***********************************************************/

.hide {
	display: none;
}